<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ad21a493-9686-45a7-a795-605679046144" Alias="ourPeople" Level="1">
  <Info>
    <Name>Our People</Name>
    <Icon>icon-employee color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>OurPeople</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="884c9184-86b4-498e-a120-8042d0faca31">OurPeople</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>79821034-7039-47dd-acf3-6bf4ae259f85</Key>
      <Name>Our People Block List</Name>
      <Alias>ourPeopleBlockList</Alias>
      <Definition>48fb5a03-9e41-4ec0-9320-3f901a7e86a0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sectionList">Section List</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0830fe63-14e7-4668-a64b-deff2c909fc8</Key>
      <Name>Our People Description</Name>
      <Alias>ourPeopleDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="heroMasthead">Hero/Masthead</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>af90a100-1415-44b3-b8c6-c9b8586f40bd</Key>
      <Name>Our People Title</Name>
      <Alias>ourPeopleTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="heroMasthead">Hero/Masthead</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>1b91785c-16f6-4856-a4a8-1a333dc79538</Key>
      <Caption>Section List</Caption>
      <Alias>sectionList</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>fa8605df-2b4c-4943-8a16-1c1da3a50bf8</Key>
      <Caption>Hero/Masthead</Caption>
      <Alias>heroMasthead</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>