<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b9106dda-f646-4c8d-becd-7ce240a56f1d" Alias="settings" Level="2">
  <Info>
    <Name>Settings</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Settings</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="4f80e679-72d7-4aaa-b80e-afab6049f6e0" SortOrder="0">navigation</ContentType>
    <ContentType Key="e1f804c3-e73d-4096-89ef-7babc310255e" SortOrder="1">footer</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>