<?xml version="1.0" encoding="utf-8"?>
<Media Key="b77b102a-5c03-43ca-bbac-5013320dae98" Alias="About Us" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-21T12:03:43</CreateDate>
    <NodeName Default="About Us" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>