<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a289fdf-77ca-4d83-8cf4-104b291fb4ab" Alias="Card Sections" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CardSections</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-21T12:04:50</CreateDate>
    <NodeName Default="Card Sections" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>