<?xml version="1.0" encoding="utf-8"?>
<Media Key="32dcd25b-70e7-4769-aca2-3b1b8227070d" Alias="Homepage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Homepage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-21T12:04:33</CreateDate>
    <NodeName Default="Homepage" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>