<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f64f4ec-6897-45d9-9012-fa83fad5e8ab" Alias="Main Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MainLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-03-20T12:14:28</CreateDate>
    <NodeName Default="Main Logo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>