<?xml version="1.0" encoding="utf-8"?>
<Content Key="bed87ca5-2bd3-4c2f-ac41-fd55b67cdf97" Alias="About us" Level="2">
  <Info>
    <Parent Key="9014d501-fbf7-4bef-bd32-7ca5a028f29f">Home</Parent>
    <Path>/Home/AboutUs</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2024-03-19T12:23:41</CreateDate>
    <NodeName Default="About us" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="48f8cf16-425d-408a-b88f-9d70362a10cc">AboutUs</Template>
  </Info>
  <Properties>
    <aboutUsBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/aa0ed43a764247038516d4fe9213ccf1"
      },
      {
        "contentUdi": "umb://element/e744853507c2441f937af06d90e4c7fb"
      },
      {
        "contentUdi": "umb://element/c87c213b26c7462e9b667b2e6449b3b0"
      },
      {
        "contentUdi": "umb://element/0a97e5a3ffd9418f880a249d3675c961"
      },
      {
        "contentUdi": "umb://element/b2b028adb4b64c41b7be716093dac1ba"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "e309edc0-8343-4312-8f92-03ea13bf044a",
      "udi": "umb://element/aa0ed43a764247038516d4fe9213ccf1",
      "cardSectionTitle": "Reputation and commitment",
      "cardSectionDescription": "Velit purus egestas tellus phasellus. Mattis eget sed faucibus magna vulputate pellentesque a diam tincidunt. Aenean malesuada tellus tellus faucibus mauris quisque mauris in.",
      "cardSectionImageAlignment": "1"
    },
    {
      "contentTypeKey": "5b95e5c5-589f-4ae7-a9de-75e50d39fdb8",
      "udi": "umb://element/e744853507c2441f937af06d90e4c7fb"
    },
    {
      "contentTypeKey": "e309edc0-8343-4312-8f92-03ea13bf044a",
      "udi": "umb://element/c87c213b26c7462e9b667b2e6449b3b0",
      "cardSectionTitle": "Honesty, efficiency and commitment",
      "cardSectionDescription": "Velit purus egestas tellus phasellus. Mattis eget sed faucibus magna vulputate pellentesque a diam tincidunt. Aenean malesuada tellus tellus faucibus mauris quisque mauris in.",
      "cardSectionImageAlignment": "0"
    },
    {
      "contentTypeKey": "2858cd4e-337d-4da6-8048-33d0f90f8953",
      "udi": "umb://element/0a97e5a3ffd9418f880a249d3675c961",
      "meetOurTeamTitle": "Meet our team",
      "meetOurTeamDescription": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum a nibh eget tincidunt. Etiam dignissim, dui sed bibendum facilisis, augue turpis elementum velit."
    },
    {
      "contentTypeKey": "fd73b753-449f-49e7-b3f8-7e84f91a40e1",
      "udi": "umb://element/b2b028adb4b64c41b7be716093dac1ba",
      "requestACallTitle": "Request a call",
      "requestACallDescription": "Velit purus egestas tellus phasellus. Mattis eget sed faucibus magna vulputate pellentesque a diam tincidunt. Aenean malesuada tellus tellus faucibus mauris quisque mauris in"
    }
  ],
  "settingsData": []
}]]></Value>
    </aboutUsBlockList>
    <aboutUsDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor lacinia lectus, sit amet ornare urna ultrices sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus venenatis eleifend sagittis.]]></Value>
    </aboutUsDescription>
    <aboutUsTitle>
      <Value><![CDATA[About us]]></Value>
    </aboutUsTitle>
  </Properties>
</Content>