<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f4a26ba-9af3-42ee-a237-e87dec3a425e" Alias="Footer" Level="2">
  <Info>
    <Parent Key="84348c2a-a8ee-47b0-bbda-748ee4dfae25">Settings</Parent>
    <Path>/Settings/Footer</Path>
    <Trashed>false</Trashed>
    <ContentType>footer</ContentType>
    <CreateDate>2024-03-20T12:23:11</CreateDate>
    <NodeName Default="Footer" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <footerLogo>
      <Value><![CDATA[[
  {
    "key": "d20057d7-fe8a-41cb-9263-9603b9abd2ed",
    "mediaKey": "da487393-4b26-4510-bd20-5b8a217f1f0b"
  }
]]]></Value>
    </footerLogo>
  </Properties>
</Content>