<?xml version="1.0" encoding="utf-8"?>
<Content Key="9014d501-fbf7-4bef-bd32-7ca5a028f29f" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-01-18T14:22:18</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7a3b1e5f-51b6-4797-90ae-e95a29bea390">Home</Template>
  </Info>
  <Properties>
    <heroMastheadDescription>
      <Value><![CDATA[We have been involved in some of the highest profile cases across the UK. Listed in The Times 250 Best Law Firms 2023. Our lawyers will leave no stone unturned in their commitment to your case.]]></Value>
    </heroMastheadDescription>
    <heroMastheadHeading>
      <Value><![CDATA[Sonn Macmillan Walker is one of the largest firms of specialist criminal defence solicitors]]></Value>
    </heroMastheadHeading>
    <homeSectionList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f34219d6c17049b997541791422a2229"
      },
      {
        "contentUdi": "umb://element/70daed43fcf54a7b8920ee0486cbc7b5"
      },
      {
        "contentUdi": "umb://element/0a0fd530f7dd461595c55b33d06e38d1"
      },
      {
        "contentUdi": "umb://element/e18dff7c2ef941078f4d905af2b4a842"
      },
      {
        "contentUdi": "umb://element/36f63f0df9d94be98f327c88ebe62cfb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "4d363cff-464c-4f97-868d-50f48c5efa70",
      "udi": "umb://element/f34219d6c17049b997541791422a2229",
      "arrestHelplineTitle": "Arrest helpline",
      "arrestHelplineDescription": "We’re here for you 24/7 so if you, or someone you know, have been arrested,\ngive us a call straight away. The sooner one of our defence solicitors get to work, the\nbetter it will be for you. Although based in London, we’ll get to you wherever you are.",
      "arrestHelplineNumber": "020 7481 9157"
    },
    {
      "contentTypeKey": "5b95e5c5-589f-4ae7-a9de-75e50d39fdb8",
      "udi": "umb://element/70daed43fcf54a7b8920ee0486cbc7b5"
    },
    {
      "contentTypeKey": "508659ef-9e0d-4676-bd1a-8a200dba0b9f",
      "udi": "umb://element/0a0fd530f7dd461595c55b33d06e38d1",
      "notableCasesTitle": "Notable Cases ",
      "selectAnAreaCTATitle": "Select an area of expertise",
      "selectAnAreaCTAUrl": null,
      "viewAllNotableCTATitle": "View all notable cases",
      "viewAllNotableCTAUrl": null
    },
    {
      "contentTypeKey": "a757f33c-b215-4faf-8520-e53ac09963af",
      "udi": "umb://element/e18dff7c2ef941078f4d905af2b4a842",
      "insightsBlockElementTitle": "Insights",
      "insightsBlockElementDescription": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet risus augue. Quisque non rutrum magna. Morbi euismod ullamcorper malesuada.",
      "viewAllInsightsCTATitle": "View all of our insights",
      "viewAllInsightsCTAUrl": null
    },
    {
      "contentTypeKey": "c2354dce-b4e6-4faf-b172-392304f62ec6",
      "udi": "umb://element/36f63f0df9d94be98f327c88ebe62cfb",
      "aboutUsBlockElementTitle": "Our lawyers will leave no stone unturned in their commitment to your case",
      "aboutUsBlockElementDescription": "Velit purus egestas tellus phasellus. Mattis eget sed faucibus magna vulputate pellentesque a diam tincidunt. Aenean malesuada tellus tellus faucibus mauris quisque mauris in."
    }
  ],
  "settingsData": []
}]]></Value>
    </homeSectionList>
  </Properties>
</Content>