<?xml version="1.0" encoding="utf-8"?>
<Content Key="8515c961-c07b-4ace-854a-3d9527d14674" Alias="Navigation" Level="2">
  <Info>
    <Parent Key="84348c2a-a8ee-47b0-bbda-748ee4dfae25">Settings</Parent>
    <Path>/Settings/Navigation</Path>
    <Trashed>false</Trashed>
    <ContentType>navigation</ContentType>
    <CreateDate>2024-03-20T12:11:54</CreateDate>
    <NodeName Default="Navigation" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactEmail>
      <Value><![CDATA[]]></Value>
    </contactEmail>
    <mainLogo>
      <Value><![CDATA[[
  {
    "key": "31f7841e-ba1b-4bf7-bca2-012ec2d526c7",
    "mediaKey": "da487393-4b26-4510-bd20-5b8a217f1f0b"
  }
]]]></Value>
    </mainLogo>
  </Properties>
</Content>