<?xml version="1.0" encoding="utf-8"?>
<Content Key="2ca41bc4-63f9-426d-b2b1-d9e0866ba9fd" Alias="Notable Cases" Level="2">
  <Info>
    <Parent Key="9014d501-fbf7-4bef-bd32-7ca5a028f29f">Home</Parent>
    <Path>/Home/NotableCases</Path>
    <Trashed>false</Trashed>
    <ContentType>notableCases</ContentType>
    <CreateDate>2024-03-21T11:49:39</CreateDate>
    <NodeName Default="Notable Cases" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="eaa7fcd8-b84b-45bc-b9da-349e432d79ea">NotableCases</Template>
  </Info>
  <Properties>
    <notableCasesCardDescription>
      <Value><![CDATA[Ut ultrices tristique bibendum. Phasellus dignissim ultricies diam vitae commodo. Sed congue quis sem quis bibendum.]]></Value>
    </notableCasesCardDescription>
    <notableCasesCardTitle>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit.]]></Value>
    </notableCasesCardTitle>
    <notableCasesTitle>
      <Value><![CDATA[Notable Cases]]></Value>
    </notableCasesTitle>
  </Properties>
</Content>