<?xml version="1.0" encoding="utf-8"?>
<Content Key="3dd3dfd5-f2d7-4d75-a367-e09b24d808b6" Alias="Notable Case Four" Level="3">
  <Info>
    <Parent Key="2ca41bc4-63f9-426d-b2b1-d9e0866ba9fd">Notable Cases</Parent>
    <Path>/Home/NotableCases/NotableCaseFour</Path>
    <Trashed>false</Trashed>
    <ContentType>notableCase</ContentType>
    <CreateDate>2024-03-21T16:54:46</CreateDate>
    <NodeName Default="Notable Case Four" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ed0e5ab4-3325-4dbf-9958-a6aa52f311de">NotableCase</Template>
  </Info>
  <Properties>
    <notableCaseDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum a nibh eget tincidunt. Etiam dignissim, dui sed bibendum facilisis, augue turpis elementum velit.]]></Value>
    </notableCaseDescription>
    <notableCaseTitle>
      <Value><![CDATA[Notable Case Four]]></Value>
    </notableCaseTitle>
  </Properties>
</Content>