<?xml version="1.0" encoding="utf-8"?>
<Content Key="043f90b0-8e8f-4d80-9e1f-6766f1743b7d" Alias="Notable Case Ten" Level="3">
  <Info>
    <Parent Key="2ca41bc4-63f9-426d-b2b1-d9e0866ba9fd">Notable Cases</Parent>
    <Path>/Home/NotableCases/NotableCaseTen</Path>
    <Trashed>false</Trashed>
    <ContentType>notableCase</ContentType>
    <CreateDate>2024-03-21T16:57:15</CreateDate>
    <NodeName Default="Notable Case Ten" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ed0e5ab4-3325-4dbf-9958-a6aa52f311de">NotableCase</Template>
  </Info>
  <Properties>
    <notableCaseDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum a nibh eget tincidunt. Etiam dignissim, dui sed bibendum facilisis, augue turpis elementum velit.]]></Value>
    </notableCaseDescription>
    <notableCaseTitle>
      <Value><![CDATA[Notable Case Ten]]></Value>
    </notableCaseTitle>
  </Properties>
</Content>