<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc4e2f2a-739e-403d-8418-d3f831f26ee9" Alias="Our People" Level="2">
  <Info>
    <Parent Key="9014d501-fbf7-4bef-bd32-7ca5a028f29f">Home</Parent>
    <Path>/Home/OurPeople</Path>
    <Trashed>false</Trashed>
    <ContentType>ourPeople</ContentType>
    <CreateDate>2024-03-20T12:03:09</CreateDate>
    <NodeName Default="Our People" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="884c9184-86b4-498e-a120-8042d0faca31">OurPeople</Template>
  </Info>
  <Properties>
    <ourPeopleBlockList>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6524fde74a914174bd1dbd2572c02bb3"
      },
      {
        "contentUdi": "umb://element/9e054d30e34f4c8e8be581b343ad2dfc"
      },
      {
        "contentUdi": "umb://element/074e2d0b6eea451d902de893f3faf7c8"
      },
      {
        "contentUdi": "umb://element/cfc9e835c6424373b253b9b877c1eb01"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "21bbd918-caad-449c-b6fd-f49efcda96bf",
      "udi": "umb://element/6524fde74a914174bd1dbd2572c02bb3"
    },
    {
      "contentTypeKey": "40f7ca1b-3226-4413-b376-6edd712347cf",
      "udi": "umb://element/9e054d30e34f4c8e8be581b343ad2dfc",
      "ourParalegalTeamTitle": "Our paralegal team",
      "ourParalegalTeamDescription": "Velit purus egestas tellus phasellus. Mattis eget sed faucibus magna vulputate pellentesque a diam tincidunt. Aenean malesuada tellus tellus faucibus mauris quisque mauris in."
    },
    {
      "contentTypeKey": "5b95e5c5-589f-4ae7-a9de-75e50d39fdb8",
      "udi": "umb://element/074e2d0b6eea451d902de893f3faf7c8"
    },
    {
      "contentTypeKey": "fd73b753-449f-49e7-b3f8-7e84f91a40e1",
      "udi": "umb://element/cfc9e835c6424373b253b9b877c1eb01",
      "requestACallTitle": "Request a call",
      "requestACallDescription": "Velit purus egestas tellus phasellus. Mattis eget sed faucibus magna vulputate pellentesque a diam tincidunt. Aenean malesuada tellus tellus faucibus mauris quisque mauris in."
    }
  ],
  "settingsData": []
}]]></Value>
    </ourPeopleBlockList>
    <ourPeopleDescription>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor lacinia lectus, sit amet ornare urna ultrices sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus venenatis eleifend sagittis.]]></Value>
    </ourPeopleDescription>
    <ourPeopleTitle>
      <Value><![CDATA[Our team of lawyers are committed to you]]></Value>
    </ourPeopleTitle>
  </Properties>
</Content>