<?xml version="1.0" encoding="utf-8"?>
<Content Key="84348c2a-a8ee-47b0-bbda-748ee4dfae25" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2024-03-20T12:11:37</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>