@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models;
@{
    var content = (ContentModels.OurPeopleBlockElement)Model.Content;
}


<div class="caseCardSection">
    <div class="container-fluid container-lg smw-container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 g-0 smw-row ">
            <div class="col">
                <div class="peopleCard d-flex flex-column gap-16">
                    <div class="peopleCard__head">
                        <img src="~/images/our-team-lawyers.png" alt="image"
                             class="peopleCard__img img-fluid">
                    </div>
                    <div class="peopleCard__body">
                        <article class="d-flex gap-8 flex-column">
                            <h2>Name Name</h2>
                            <p class="smw-primary-text">Title</p>

                        </article>
                    </div>
                    <div class="d-flex gap-16">
                        <p class="link__people">
                            <span class="smw-icon-email"></span><a href=""
                                                                   class="link__people-text smart-animation">Email</a>
                        </p>
                        <p class="link__people">
                            <span class="smw-icon-link smw-icon-linkedln-blue"></span><a href="" class="link__people-text smart-animation">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="peopleCard d-flex flex-column gap-16">
                    <div class="peopleCard__head">
                        <img src="~/images/our-team-lawyers.png" alt="image"
                             class="peopleCard__img img-fluid">
                    </div>
                    <div class="peopleCard__body">
                        <article class="d-flex gap-8 flex-column">
                            <h2>Name Name</h2>
                            <p class="smw-primary-text">Title</p>

                        </article>
                    </div>
                    <div class="d-flex gap-16">
                        <p class="link__people">
                            <span class="smw-icon-email"></span><a href=""
                                                                   class="link__people-text smart-animation">Email</a>
                        </p>
                        <p class="link__people">
                            <span class="smw-icon-link smw-icon-linkedln-blue"></span><a href="" class="link__people-text smart-animation">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="peopleCard d-flex flex-column gap-16">
                    <div class="peopleCard__head">
                        <img src="~/images/our-team-lawyers.png" alt="image"
                             class="peopleCard__img img-fluid">
                    </div>
                    <div class="peopleCard__body">
                        <article class="d-flex gap-8 flex-column">
                            <h2>Name Name</h2>
                            <p class="smw-primary-text">Title</p>

                        </article>
                    </div>
                    <div class="d-flex gap-16">
                        <p class="link__people">
                            <span class="smw-icon-email"></span><a href=""
                                                                   class="link__people-text smart-animation">Email</a>
                        </p>
                        <p class="link__people">
                            <span class="smw-icon-link smw-icon-linkedln-blue"></span><a href="" class="link__people-text smart-animation">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="peopleCard d-flex flex-column gap-16">
                    <div class="peopleCard__head">
                        <img src="~/images/our-team-lawyers.png" alt="image"
                             class="peopleCard__img img-fluid">
                    </div>
                    <div class="peopleCard__body">
                        <article class="d-flex gap-8 flex-column">
                            <h2>Name Name</h2>
                            <p class="smw-primary-text">Title</p>

                        </article>
                    </div>
                    <div class="d-flex gap-16">
                        <p class="link__people">
                            <span class="smw-icon-email"></span><a href=""
                                                                   class="link__people-text smart-animation">Email</a>
                        </p>
                        <p class="link__people">
                            <span class="smw-icon-link smw-icon-linkedln-blue"></span><a href="" class="link__people-text smart-animation">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="peopleCard d-flex flex-column gap-16">
                    <div class="peopleCard__head">
                        <img src="~/images/our-team-lawyers.png" alt="image"
                             class="peopleCard__img img-fluid">
                    </div>
                    <div class="peopleCard__body">
                        <article class="d-flex gap-8 flex-column">
                            <h2>Name Name</h2>
                            <p class="smw-primary-text">Title</p>

                        </article>
                    </div>
                    <div class="d-flex gap-16">
                        <p class="link__people">
                            <span class="smw-icon-email"></span><a href=""
                                                                   class="link__people-text smart-animation">Email</a>
                        </p>
                        <p class="link__people">
                            <span class="smw-icon-link smw-icon-linkedln-blue"></span><a href="" class="link__people-text smart-animation">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="peopleCard d-flex flex-column gap-16">
                    <div class="peopleCard__head">
                        <img src="~/images/our-team-lawyers.png" alt="image"
                             class="peopleCard__img img-fluid">
                    </div>
                    <div class="peopleCard__body">
                        <article class="d-flex gap-8 flex-column">
                            <h2>Name Name</h2>
                            <p class="smw-primary-text">Title</p>

                        </article>
                    </div>
                    <div class="d-flex gap-16">
                        <p class="link__people">
                            <span class="smw-icon-email"></span><a href=""
                                                                   class="link__people-text smart-animation">Email</a>
                        </p>
                        <p class="link__people">
                            <span class="smw-icon-link smw-icon-linkedln-blue"></span><a href="" class="link__people-text smart-animation">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="peopleCard d-flex flex-column gap-16">
                    <div class="peopleCard__head">
                        <img src="~/images/our-team-lawyers.png" alt="image"
                             class="peopleCard__img img-fluid">
                    </div>
                    <div class="peopleCard__body">
                        <article class="d-flex gap-8 flex-column">
                            <h2>Name Name</h2>
                            <p class="smw-primary-text">Title</p>

                        </article>
                    </div>
                    <div class="d-flex gap-16">
                        <p class="link__people">
                            <span class="smw-icon-email"></span><a href=""
                                                                   class="link__people-text smart-animation">Email</a>
                        </p>
                        <p class="link__people">
                            <span class="smw-icon-link smw-icon-linkedln-blue"></span><a href="" class="link__people-text smart-animation">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="peopleCard d-flex flex-column gap-16">
                    <div class="peopleCard__head">
                        <img src="~/images/our-team-lawyers.png" alt="image"
                             class="peopleCard__img img-fluid">
                    </div>
                    <div class="peopleCard__body">
                        <article class="d-flex gap-8 flex-column">
                            <h2>Name Name</h2>
                            <p class="smw-primary-text">Title</p>

                        </article>
                    </div>
                    <div class="d-flex gap-16">
                        <p class="link__people">
                            <span class="smw-icon-email"></span><a href=""
                                                                   class="link__people-text smart-animation">Email</a>
                        </p>
                        <p class="link__people">
                            <span class="smw-icon-link smw-icon-linkedln-blue"></span><a href="" class="link__people-text smart-animation">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="peopleCard d-flex flex-column gap-16">
                    <div class="peopleCard__head">
                        <img src="~/images/our-team-lawyers.png" alt="image"
                             class="peopleCard__img img-fluid">
                    </div>
                    <div class="peopleCard__body">
                        <article class="d-flex gap-8 flex-column">
                            <h2>Name Name</h2>
                            <p class="smw-primary-text">Title</p>

                        </article>
                    </div>
                    <div class="d-flex gap-16">
                        <p class="link__people">
                            <span class="smw-icon-email"></span><a href=""
                                                                   class="link__people-text smart-animation">Email</a>
                        </p>
                        <p class="link__people">
                            <span class="smw-icon-link smw-icon-linkedln-blue"></span><a href="" class="link__people-text smart-animation">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="peopleCard d-flex flex-column gap-16">
                    <div class="peopleCard__head">
                        <img src="~/images/our-team-lawyers.png" alt="image"
                             class="peopleCard__img img-fluid">
                    </div>
                    <div class="peopleCard__body">
                        <article class="d-flex gap-8 flex-column">
                            <h2>Name Name</h2>
                            <p class="smw-primary-text">Title</p>

                        </article>
                    </div>
                    <div class="d-flex gap-16">
                        <p class="link__people">
                            <span class="smw-icon-email"></span><a href=""
                                                                   class="link__people-text smart-animation">Email</a>
                        </p>
                        <p class="link__people">
                            <span class="smw-icon-link smw-icon-linkedln-blue"></span><a href="" class="link__people-text smart-animation">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="peopleCard d-flex flex-column gap-16">
                    <div class="peopleCard__head">
                        <img src="~/images/our-team-lawyers.png" alt="image"
                             class="peopleCard__img img-fluid">
                    </div>
                    <div class="peopleCard__body">
                        <article class="d-flex gap-8 flex-column">
                            <h2>Name Name</h2>
                            <p class="smw-primary-text">Title</p>

                        </article>
                    </div>
                    <div class="d-flex gap-16">
                        <p class="link__people">
                            <span class="smw-icon-email"></span><a href=""
                                                                   class="link__people-text smart-animation">Email</a>
                        </p>
                        <p class="link__people">
                            <span class="smw-icon-link smw-icon-linkedln-blue"></span><a href="" class="link__people-text smart-animation">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="peopleCard d-flex flex-column gap-16">
                    <div class="peopleCard__head">
                        <img src="~/images/our-team-lawyers.png" alt="image"
                             class="peopleCard__img img-fluid">
                    </div>
                    <div class="peopleCard__body">
                        <article class="d-flex gap-8 flex-column">
                            <h2>Name Name</h2>
                            <p class="smw-primary-text">Title</p>

                        </article>
                    </div>
                    <div class="d-flex gap-16">
                        <p class="link__people">
                            <span class="smw-icon-email"></span><a href=""
                                                                   class="link__people-text smart-animation">Email</a>
                        </p>
                        <p class="link__people">
                            <span class="smw-icon-link smw-icon-linkedln-blue"></span><a href="" class="link__people-text smart-animation">LinkedIn</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>