<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48a105cb-5fe6-4016-923e-bde06ab1e0ec" Alias="Card Section Block Element - Card Section Image Alignment Right - Toggle" Level="1">
  <Info>
    <Name>Card Section Block Element - Card Section Image Alignment Right - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": "Left",
  "LabelOn": "Right",
  "ShowLabels": true
}]]></Config>
</DataType>