<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1304b992-4255-43a9-baa6-0cf069f9821e" Alias="Footer - Multinode Treepicker" Level="1">
  <Info>
    <Name>Footer - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "footer",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/84348c2aa8ee47b0bbda748ee4dfae25",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>