<?xml version="1.0" encoding="utf-8"?>
<DataType Key="80e9f51f-8ea2-4475-9396-6ada8a357f00" Alias="Main Navigation - Multinode Treepicker" Level="1">
  <Info>
    <Name>Main Navigation - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "navigation",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/84348c2aa8ee47b0bbda748ee4dfae25",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>