<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8c30e2a-2180-4d05-9814-b48e8fd53ff2" Alias="Notable Cases Block Element - Select an Area CTA Url - Multinode Treepicker" Level="1">
  <Info>
    <Name>Notable Cases Block Element - Select an Area CTA Url - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>