<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48fb5a03-9e41-4ec0-9320-3f901a7e86a0" Alias="Section Block List" Level="2">
  <Info>
    <Name>Section Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Common</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/SmwBlockImages/ArrestHelpline.png",
      "contentElementTypeKey": "4d363cff-464c-4f97-868d-50f48c5efa70",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Arrest Helpline",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/SmwBlockImages/AboutUs.png",
      "contentElementTypeKey": "c2354dce-b4e6-4faf-b172-392304f62ec6",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "About Us Block Element",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/SmwBlockImages/Insights.png",
      "contentElementTypeKey": "a757f33c-b215-4faf-8520-e53ac09963af",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Insights Block Element",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/SmwBlockImages/NotableCases.png",
      "contentElementTypeKey": "508659ef-9e0d-4676-bd1a-8a200dba0b9f",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Notable Cases Block Element",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/SmwBlockImages/Testimonial.png",
      "contentElementTypeKey": "5b95e5c5-589f-4ae7-a9de-75e50d39fdb8",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/SmwBlockImages/CardImages.png",
      "contentElementTypeKey": "e309edc0-8343-4312-8f92-03ea13bf044a",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Card Section Block Element",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/SmwBlockImages/MeetOurTeam.png",
      "contentElementTypeKey": "2858cd4e-337d-4da6-8048-33d0f90f8953",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Meet Our Team",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/SmwBlockImages/RequestaCall.png",
      "contentElementTypeKey": "fd73b753-449f-49e7-b3f8-7e84f91a40e1",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Request a Call",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/SmwBlockImages/OurParalegalTeam.png",
      "contentElementTypeKey": "40f7ca1b-3226-4413-b376-6edd712347cf",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Our Paralegal Team",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": "~/SmwBlockImages/OurPeople.png",
      "contentElementTypeKey": "21bbd918-caad-449c-b6fd-f49efcda96bf",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": null,
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>