<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c98be71-8bef-446b-b544-aa2035c8e4c4" Alias="Testimonial - Testimonials - Nested Content" Level="1">
  <Info>
    <Name>Testimonial - Testimonials - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "testimonial",
      "ncTabAlias": "Testimonial",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>