<?xml version="1.0" encoding="utf-8"?>
<User Key="ffffffff-0000-0000-0000-000000000000" Alias="smw@criminalsolicitor.co.uk">
  <Info>
    <Comments />
    <Name>Sonn Macmillan Walker</Name>
    <Username>smw@criminalsolicitor.co.uk</Username>
    <Email>smw@criminalsolicitor.co.uk</Email>
    <EmailConfirmed />
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAEAACcQAAAAEKRefg2dzsm3ZZc+ozhTbfJFCbrY2u7d0/o3YYhR4d9tf/xhVuCluPQfd4LlXYF7sA==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>admin</Alias>
    </Group>
    <Group>
      <Alias>sensitiveData</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>